@model IEnumerable<string>
@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>The Khamisi</title>
</head>
<body>
    <h1>Welcome To My Life!</h1>
    <ul>
        @foreach (string s in Model)
         {
            <li>@s</li>
         }
    </ul>
</body>
</html>
